{% extends "base_generic.html" %}

{% block content %}
<div class='LoginContainer'>

  {% if form.errors %}
    <p class='LoginError'>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p class='LoginError'>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p class='LoginError'>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class='LoginForm'>
    {% csrf_token %}
    <div>
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div>
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    <div id='submit'>
      <input type="submit" value="LOGIN" />
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>


  <!-- {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}