<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block title %}<title>Callisto</title>{% endblock %}

  <meta name="description" content="description">
  <meta name="author" content="author">

{% load static %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>

<body>
  {% block content %}
  {% endblock %}
</body>
</html>


