{% extends "game.html" %}

{% block main %}
{% load static %}
    <div class='Deployed'>
        <div class='DeployedCard'>

            <div class='row' id='header'>
                <div class='DeployedCardImage'><img src="{% static 'img/moonterrain1.jpg' %}" id='img' /></div>
                <div class='DeployedCardMessage'>
                    <h2 class='DeployedCardTitle' id='title'>Deployed</h2>
                    <p class='DeployedCardText' id='desc'>You have been deployed to the Outlands.</p>
                </div>
            </div>

            <div id='view' class='row'>
                <div class='Arena'>
                    <div id='enemystats' class='Stats'>
                        <img id='enemyimg' />
                        <p id='enemyhealth'></p>
                    </div>
                    <div id='mechstats' class='Stats'>
                        <img id='mechimg' />
                        <p id='mechhealth'></p>
                    </div>
                </div>

                <div class='Loot'>
                    <ul id='lootinv'>
                        <!-- <li>Coins</li>
                        <li>Leather scraps</li> -->
                    </ul>
                </div>
            </div>
            
            <div class='DeployedCardButtonGroup'>

                <div class='ActionButtons' id='btngrp'>
                    <button id='continue'>Continue</button>
                </div>

                <button id=exit>Exit</button>
            </div>
            
        </div>
    </div>

    <script src="{% static 'js/deploymentController.js' %}"></script>
{% endblock %}