{% extends "game.html" %}

{% block main %}
    <div style='margin: 1rem;'>
        <p>Type: {{type|title}}</p>
        <p>Name of piece: {{piece}}</p>

        <br />
        <p style='font-style: italic;'>{{piece.desc}}</p>
        <br />

        <p>Armor: {{piece.armor}}</p>

        {% if piece.firepower %}
        <p>Firepower: {{piece.firepower}}</p>
        {% endif %}

        {% if piece.sight %}
        <p>Vision: {{piece.sight}}</p>
        {% endif %}
        
        {% if piece.speed %}
        <p>Speed: {{piece.speed}}</p>
        {% endif %}
    </div>

{% endblock %}