{% extends "base_generic.html" %}

{% block content %}

<div class='Game'>

    <header class='Banner'>
        <h1 class='BannerText'>Callisto</h1>
    </header>

    <nav class='Navigation'>
        <a href='{% url "deploy" %}'>Go to Outland</a>
        <a href='{% url "workshop" %}'>Workshop</a>
        <a href='{% url "equipment-all" %}'>Equipment</a>
        <a href='{% url "store" %}'>Store</a>
        <a href='{% url "logout" %}'>Logout</a>
    </nav>

    <main class='MainView'>
        {% block main %}
        {% endblock %}
    </main>

</div>

{% endblock %}