{% extends "game.html" %}
{% block title %}Workshop{% endblock %}

{% block main %}
    <div class='Workshop'>
        <!-- <span id='test'>Hello World</span> -->
        {% if mech %}
        <div class='MechCard'>
            <h2 class='MechCardBanner'>{{mech}}</h2>
            <div class='MechCardTabs'>
                <span class='Before'></span>
                <h3 id='equip' class='MechCardEquipActive'>Equipment</h3>
                <h3 id='stats' class='MechCardStatsInactive'>Stats</h3>
                <span class='After'></span>
            </div>
            <div id='equipment' class='EquipmentRow'>
                <div class='MechCardEquipment'>
                    <div id='helm' title='{{mech.helm}}'>
                        <img src='{{mech.helm.img}}'  item-id='{{mech.helm.id}}' item-type='helm' item-class='Helm'/>
                    </div>

                    <div id='chest' title='{{mech.chest}}' >
                        <img src='{{mech.chest.img}}' item-id='{{mech.chest.id}}' item-type='chest'  item-class='Chest'/>
                    </div>

                    <div id='larm' title='{{mech.left_arm}}'>
                        <img src='{{mech.left_arm.img}}' item-id='{{mech.left_arm.id}}' item-type='leftarm'  item-class='Weapon'/>
                    </div>

                    <div id='rarm' title='{{mech.right_arm}}'>
                        <img src='{{mech.right_arm.img}}'  item-id='{{mech.right_arm.id}}' item-type='rightarm'  item-class='Weapon'/>
                    </div>

                    <div id='legs' title='{{mech.legs}}'>
                        <img src='{{mech.legs.img}}'  item-id='{{mech.legs.id}}' item-type='legs'  item-class='Legs'/>
                    </div>
                </div>

                <div class='MechCardItem'>
                    {% if piece.firepower %}
                    <p>Firepower: {{piece.firepower}}</p>
                    {% endif %}

                    {% if piece.firerate %}
                    <p>Firerate: {{piece.firerate}}</p>
                    {% endif %}

                    {% if piece.sight %}
                    <p>Vision: {{piece.sight}}</p>
                    {% endif %}
                    
                    {% if piece.speed %}
                    <p>Speed: {{piece.speed}}</p>
                    {% endif %}
                </div>
            </div>
            
            <div id='statblock' class='MechCardStats'>
                <table>
                    <tbody>
                        <tr>
                            <th>Health:</th>
                            <td><span id='health'>{{mech.current_hp}}</span> / {{mech.max_hp}} <span id='healbutton'>Restore</span></td>
                        </tr>
                        <tr>
                            <th>Armor:</th>
                            <td>{{mech.get_armor_value}}</td>
                        </tr>
                        <tr>
                            <th>Firepower:</th>
                            <td>{{mech.get_firepower_value}}</td>
                        </tr>
                        <tr>
                            <th>Firerate:</th>
                            <td>{{mech.get_firerate_value}}</td>
                        </tr>
                        <tr>
                            <th>Speed:</th>
                            <td>{{mech.get_speed_value}}</td>
                        </tr>
                        <tr>
                            <th>Vision:</th>
                            <td>{{mech.get_sight_value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    
    <script src='/static/js/workshopController.js' defer></script>
{% endblock %}