
/* Global styles */

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background-image: url('/static/img/spacetile.jpg');
    background-repeat: repeat;
}


/* Authentication Views */

div.LoginContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form.LoginForm {
    background-color: rgba(211,211,211, 0.9);
    border-radius: 1rem;
    width: 50%;
    padding: 3rem;
}

p.LoginError {
    background-color: rgba(211,211,211, 0.9);
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}


/* Main Game UI */

div.Game {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

header.Banner {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    border-bottom: 2px solid black;
}

h1.BannerText {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

nav.Navigation {
    display: flex;
    background-color: rgba(211,211,211, 0.75);
}

nav.Navigation > a {
    flex: 1;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.75rem;
    text-transform: uppercase;
}

nav.Navigation > a + a {
    border-left: 2px solid black;
}

nav.Navigation > a:hover {
    background-color: grey;
}

main.MainView {
    flex: 1;
}

.row {
    display: flex;
}

.dotted-underline {
    border-bottom: 1px dotted black;
}

/* Workshop Area */

div.Workshop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header.WorkshopHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.25rem;
}

div.MechCard {
    margin: 1rem;
}

h2.MechBanner {
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
}

ul.MechEquipment {
    margin-bottom: 1.5rem;
}

ul.MechEquipment > li, ul.MechStatBlock > li {
    margin-bottom: 0.25rem;
}


/* Deployment */

div.Deployed {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.DeployedCard {
    width: 500px;
    height: 400px;
    display: flex;
    flex-flow: column;
    background-color: rgba(211,211,211, 0.75);
    border-radius: 1rem;
}

div#header {
    height: 200px;
}

div#view {
    flex-grow: 1;
}

div.DeployedCardImage {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    background-color: white;
    margin: 1rem;
    flex-shrink: 0;
}

img#img {
    border-radius: 1rem;
}

div.DeployedCardMessage {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

div.DeployedCardMessage > h2, div.DeployedCardMessage > p {
    background-color: rgba(211,211,211, 0.6);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

h2.DeployedCardTitle {
    font-size: 1.125rem;
    text-align: center;
}

p.DeployedCardText {
    margin: 1rem 0;
    flex: 1;
}

div.Arena {
    display: flex;
    flex: 0;
}

div.Loot {
    display: flex;
    flex: 0;
}

div.DeployedCardButtonGroup {
    border-radius: 0 0 1rem 1rem;
    border-top: 2px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

div.ActionButtons {
    display: flex;
}

div.ActionButtons > button + button {
    margin-left: 0.25rem;
}

button#exit {
    float: right;
}
