
/* Global styles */

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background-image: url('/static/img/bodybg.jpg');
    background-repeat: repeat;
    position: relative;
}

.NI {
    color: white;
    font-weight: bold;
}


/* Authentication Views */

div.LoginContainer {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p.LoginError {
    background-color: rgba(211,211,211, 0.9);
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

form.LoginForm {
    background-color: rgba(211,211,211, 0.6);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

form.LoginForm > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

form.LoginForm > div + div {
    margin-top: 16px;
}

form.LoginForm > div > input {
    margin-top: 8px;
}

form.LoginForm > div > label {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

form.LoginForm > div#submit {
    width: 100px;
}

form.LoginForm > div#submit > input[type='submit']{
    background-color: black;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
}

form.LoginForm > div#submit > input[type='submit']:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


/* Main Game UI */

div.Game {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

header.Banner {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

header.Banner > a{
    text-decoration: none;
}

h1.BannerText {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 8px rgb(211,211,211);
}

nav.Navigation {
    display: flex;
    background-color: rgba(211,211,211, 0.5);
}

nav.Navigation > a {
    flex: 1;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: 1s;
}

nav.Navigation > a + a {
    border-left: 2px solid black;
}

nav.Navigation > a:hover {
    background-color: rgba(211,211,211, 1);
}

main.MainView {
    flex: 1;
}

.row {
    display: flex;
}

.dotted-underline {
    border-bottom: 1px dotted black;
}


/* Index Page */

div.Index {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div.WelcomeCard {
    width: 450px;
    height: 475px;
    display: flex;
    flex-flow: column;
    border-radius: 1rem;
}

h2.WelcomeBanner {
    background-color: rgba(211,211,211, 0.6);
    border-radius: 1rem 1rem 0 0;
    padding: 0.75rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

p.WelcomeText {
    background-color: rgba(211,211,211, 0.6);
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 3rem;
    margin-top: 0.5rem;
    flex: 1;
    font-weight: bold;
    font-style: italic;
    line-height: 1.25;
}


/* Workshop Area */

div.Workshop {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

span#test {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}

div.MechCard {
    width: 600px;
    height: 475px;
    display: flex;
    flex-flow: column;
    background-color: rgba(211,211,211, 0.75);
    border-radius: 1rem;
}

h2.MechCardBanner {
    background-color: rgba(211,211,211, 0.6);
    border-radius: 1rem 1rem 0 0;
    padding: 0.75rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

div.MechCardTabs {
    display: flex;
}

div.MechCardTabs > h3 {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    flex: 1;
    padding: 0.25rem;
}

h3.MechCardEquipInactive {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    border-right: none;
    cursor: pointer;
}

h3.MechCardEquipActive {
    background-color: rgba(211,211,211, 0.6);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: 2px solid black;
}

h3.MechCardStatsInactive {
    border-left: none;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

h3.MechCardStatsActive {
    background-color: rgba(211,211,211, 0.6);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: 2px solid black;
}

span.Before {
    border-top: 2px solid black;
    flex: 1;
}

span.After {
    border-top: 2px solid black;
    flex: 12;
}

div.EquipmentRow {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

div.MechCardEquipment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 332px;
    height: 332px;
}

div#helm {
    grid-column: 2;
    grid-row: 1;
}

div#chest {
    grid-column: 2;
    grid-row: 2;
}

div#larm {
    grid-column: 3;
    grid-row: 2;
}

div#rarm {
    grid-column: 1;
    grid-row: 2;
}

div#legs {
    grid-column: 2;
    grid-row: 3;
}

div.MechCardEquipment > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.MechCardItem {
    display: none;
    width: 220px;
    border: 2px solid black;
    border-radius: 1rem;
    line-height: 1.125;
    margin-left: 1rem;
    padding: 1rem;
}

div.MechCardStats {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgba(211,211,211, 0.6);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: auto;
}

div.MechCardStats > table {
    table-layout: fixed;
}

div.MechCardStats > table > tbody > tr > * {
    width: 100px;
    padding: 0.5rem;
}

div.MechCardStats > table > tbody > tr > th {
    text-align: left;
}

div.MechCardStats > table > tbody > tr > td {
    text-align: right;
}


/* Deployment */

div.Deployed {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.DeployedCard {
    width: 600px;
    height: 475px;
    display: flex;
    flex-flow: column;
    background-color: rgba(211,211,211, 0.75);
    border-radius: 1rem;
}

div#header {
    height: 200px;
}

div#view {
    flex-grow: 1;
}

div.DeployedCardImage {
    width: 150px;
    height: 150px;
    margin: 1rem;
    flex-shrink: 0;
}

img#img {
    border-radius: 1rem;
}

div.DeployedCardMessage {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.DeployedCardMessage > h2, div.DeployedCardMessage > p {
    background-color: rgba(211,211,211, 0.6);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

h2.DeployedCardTitle {
    font-size: 1.125rem;
    text-align: center;
}

p.DeployedCardText {
    margin: 1rem 0;
    flex: 1;
}

div.Arena {
    display: none;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}

div.Stats > img {
    height: 100px;
    width: 100px;
}

div.Stats > p {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: red;
}

div.Loot {
    display: none;
}

div.DeployedCardButtonGroup {
    border-radius: 0 0 1rem 1rem;
    border-top: 2px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

div.ActionButtons {
    display: flex;
}

div.ActionButtons > button + button {
    margin-left: 0.25rem;
}

